<p class="address street1"><%= f.text_field :street1, :label=>l(:label_crm_address), :style => "width:90%;"  -%></p>
<p class="address city"><%= f.text_field :city, :label=>l(:label_crm_city) -%></p>
<p class="address region"><%= f.text_field :region, :label=>l(:label_crm_region) -%></p>
<p class="address postcode"><%= f.text_field :postcode, :label=>l(:label_crm_postcode) -%></p>
<p class="address country"><%= f.select :country_code, l(:label_crm_countries).map{|k, v| [v, k]},  :label=>l(:label_crm_country), :include_blank => true  -%></p>
